$bg-green:#41bf80;
$card-white:#fff3e7;
$bg-green-rgba:rgba(65,191,128,1.0);
$overlay-green: #41bf8080;
$search-bar-bg-white:#ffffff;
$wheat-color:wheat;
$header-icon-color:#2c2c2c;
$top-bar-color:#fbc91b;
$favorites-bookmark:#fcdc6b;